body {
    margin: 0;
    padding: 0;
    height: max-content;
    font-family: Arial, sans-serif;
    background: #f91b4b;
    background: linear-gradient(120deg, #f91b4b 40%, #ff4a4a 60%);
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.form {
    margin-top: 20px;
    font-weight: bold;
}

#categ {
    height: 22px;
    width: 400px;
}

.sub_button {
    width: 100px;
    height: 30px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
